@use "./admin-styles/mixin" as m;
@use "./variables" as v;

.product-details {
  padding: 4rem;

  > main {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin: auto;
    > section {
      &:first-of-type {
        width: 40%;
        height: 90vh;
      }

      &:last-of-type {
        width: 60%;
        min-height: 80vh;
        padding: 4rem;

        h1 {
          font-size: 3.5rem;
          margin: 1rem 0;
        }

        code {
          font-size: 1.2rem;
          background-color: rgb(5, 107, 224);
          color: white;
          border-radius: 10px;
          padding: 0.15rem 0.5rem;
        }

        article {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          margin: 2rem 0;
          > div {
            width: 9rem;
            @include m.flex(row, space-between);
            button {
              border: none;
              @include m.square(3rem);
              border-radius: 5px;
              @include m.flex;
              cursor: pointer;
              font-size: 1.2rem;
              &:hover {
                background-color: v.$color2;
                color: v.$color1;
              }
            }

            h3 {
              font-size: 1.5rem;
              margin: 1rem 0;
            }

            p {
              font-size: 1.2rem;
              margin: 1rem 0;
              font-weight: 300;
              line-height: 150%;
            }
          }
          > button {
            width: 9rem;
            background-color: v.$color3;
            padding: 1rem;
            border: none;
            cursor: pointer;
            color: v.$color1;
            @include m.flex;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 5px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  > section {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    > article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > h2 {
        @include m.heading;
      }
      > button {
        background-color: black;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
      }
    }
  }
}

.review-dialog {
  width: 30rem;
  padding: 2rem;
  min-height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 0.5rem;
  > button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
  }
  > h2 {
    @include m.heading;
  }
  > form {
    margin: 1rem 0;
    @include m.flex(column);
    > textarea {
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 25vh;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 5px;
    font-size: 1.2rem;
  }
  > button {
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    &:hover {
      opacity: 0.8;
    }
  }
  }
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.review {
  position: relative;
  width: 45rem;
  flex: none;
  background-color: rgb(244, 244, 244);
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    small {
      color: v.$color3;
    }
  }

  > button {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
  }
}